<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>

    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%; /* define a altura total da tela */
        }

        .caixa_topo {
            width: 100%;       /* ocupa toda a largura */
            height: 50%;       /* metade da altura da tela */
            position: fixed;   /* fica fixa no topo */
            top: 0;
            left: 0;
            background-color: blueviolet;
        }
    </style>
</head>
<body>
    <div class="caixa_topo"></div>
</body>
</html>
